{% extends 'letters/base_letter.html' %}

{% block content %}
    <tr >
        <td style = "padding:32px;color: #378b93; text-align:center;">
            <h1>Перевозчик {{ transporter_nickname }} сдал груз - "{{ cargo_title }}".</h1>
        </td>
    </tr>
    <tr >
        <td style = "padding:0 32px;color: #378b93; text-align:center;">
            <h3 style="margin-top: 0;font-weight: normal;color: #969696;font-size: 16px; margin-bottom: 12px;line-height: 18px;text-align: center;">
                {% if comment %}
                    <p>Перевозчик оставил комментарий: "{{ comment }}".</p>
                {% endif %}
                {% if photos %}
                    <p>Перевозчик прикрепил фотографии</p>
                    {% for item in photos %}
                        <img src="{{ item.url }}" alt="image">
                    {% endfor %}
                {% endif %}
            </h3>
        </td>
    </tr>
{% endblock %}


